@import "tailwindcss";

:root {
  --bg-main: #F8FAFC;
  --bg-card: #FFFFFF;
  --bg-muted: #F1F5F9;

  --text-primary: #0F172A;
  --text-secondary: #334155;
  --text-muted: #64748B;

  --primary: #2563EB;
  --primary-hover: #1D4ED8;
  --primary-active: #1E40AF;

  --border: #E2E8F0;

  --success: #16A34A;
  --warning: #F59E0B;
  --danger: #DC2626;
}


@layer utilities {
  @keyframes scan {
    0% { opacity: 0.2; }
    20% { opacity: 1; }
    100% { opacity: 0.2; }
  }

  .animate-scan {
    animation: scan 1.2s infinite ease-in-out;
  }
}

